---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Philosophy from "../components/Philosophy.astro";
import StudioInfo from "../components/StudioInfo.astro";
import Credentials from "../components/Credentials.astro";
import Pricing from "../components/Pricing.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---
<MainLayout>
  <Navbar />
  <main>
    <Hero />
    <Philosophy />
    <StudioInfo />
    <Credentials />
    <Pricing />
    <Contact />
  </main>
  <Footer />
</MainLayout>
